.chat-gpt-rtl-enabled {
  .chat-gpt-rtl {
    direction: rtl !important;

    > li:before {
      padding-right: 0 !important;
      padding-left: 0.5rem !important;
      --tw-translate-x: 100% !important;
    }

    .math {
      display: inline-block !important;
      direction: ltr !important;
    }
  }
}
